.body {
  font-size: 16px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #3b2acf;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.menu-tile {
  background-color: #d8d6d6;
  margin: 10px 0px 10px 0px;
  min-height: 700px;
  /*max-width: 90%;*/
}

.menu-tile h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.minimargin {
  margin: 0px 20px 0px 20px;
}

#nav-list > li > a {
  text-align: center;
}
 hr {
  margin: 0;
  padding: 0;
 }